@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    <composer-panel></composer-panel>

    <input v-model="mode">
</div>

@section scripts {
    <script type='module' src='~/js/app.js' type='text/javascript'></script>
}
