@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    <h1>{{message}}</h1>
    <test-component></test-component>
</div>

@section scripts {
    <script type='module' src='~/js/Vue/app.js' type='text/javascript'></script>
}
