@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    <composer v-bind:upper-notes="[60, 62, 64, 66, 67, 69, 71, 72]"></composer>
</div>

@section scripts {
    <script type='module' src='~/js/app.js' type='text/javascript'></script>
}
