@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    <h1>{{message}}</h1>
    <test-component></test-component>
</div>


@section scripts {
    <script src="~/js/vue.min.js"></script>

    <script>
        //import TestComponent from "../Components/test.vue"

        const v = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue.js!'
            }
        })

        
    </script>
}
